<h1><%= @category.title %></h1>

<ul class="item-list">
<% @category.items.each do |item| %>
    <li><%= link_to item.title, item_path(item) %> - <%= price_to_currency(item.price) %></li>
    <li><%= button_to "Add to Cart" if user_signed_in? %></li>
<% end %>
</ul>
